@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --var--primary-bg: #f5f5f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 0;
  padding: 0;
}

@keyframes color-change {
  0% {
    color: #ff0000;
  }
  50% {
    color: #00ff00;
  }
  100% {
    color: #0000ff;
  }
}

.happy-birthday-animation {
  animation: color-change 2s infinite alternate;
}
